

:root {
  --primary-color: #416165;
  --secondary-color: #9B7E46;
  --accent1-color: #0B3948;
  --accent2-color: #43281C;

  --heading-font: 'Montserrat', sans-serif; /* Changed 'serif' to 'sans-serif' */
  --paragraph-font: 'Raleway', sans-serif; /* Changed 'serif' to 'sans-serif' */

  --nav-background-color: var(--accent2-color);
  --nav-link-color: var(--secondary-color);
  --nav-hover-link-color: var(--accent1-color);
  --nav-hover-background-color: var(--primary-color);
}

/* Styling headings and paragraph elements */
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--primary-color);
}

p {
  font-family: var(--paragraph-font);
  color: var(--secondary-color);
}

/* Remove underlines from social media links */
.sociallinks a {
  text-decoration: none;
}

/* Consider limiting the entire width of the page */
/* body {
  max-width: 1200px;
  margin: 0 auto;
} */

.hero {
  position: absolute;
  width: 100%;
}

.hero h1 {
  color: var(--primary-color);
  position: absolute;
  top: 50%; /* Adjust as needed */
  left: 50%; /* Adjust as needed */
  transform: translate(-50%, -50%); /* Centering the h1 */
  text-align: center; /* Align the text center */
  z-index: 1; /* Ensure it's on top of the image */
}

.hero img {
  max-width: 150%;
  height: auto;
  display: block;
}

.hero article {
  position: absolute;
  top: 10%; /* Adjust as needed */
  left: 10%; /* Adjust as needed */
  /* background-color: rgba(0, 0, 0, 0.7); */
  padding: 20px; /* Adjust padding for readability */
  color: white; /* Adjust text color for readability */
}

