

:root {
  --primary-color: #416165;
  --secondary-color: #9B7E46;
  --accent1-color: #0B3948;
  --accent2-color: #43281C;

  --heading-font: 'Montserrat', sans-serif; 
  --paragraph-font: 'Raleway', sans-serif; 

  --nav-background-color: var(--accent2-color);
  --nav-link-color: var(--secondary-color);
  --nav-hover-link-color: var(--accent1-color);
  --nav-hover-background-color: var(--primary-color);
}

body {
  min-width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  border-right: 1px solid var(--primary-color);
  border-left: 1px solid var(--primary-color);
}

header {
  background-color: var(--primary-color);
  display: grid;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

nav {
  grid-column: 2/3;
  margin: 1rem;
  display: flex;
}

.button {
  background-color: var(--secondary-color);
  color: var(--accent1-color);
  padding: .5rem;
  text-decoration: none;
  margin-left: .2rem;
  border-radius: 4px;
  border: 1px solid var(--secondary-color); 
}

.button:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

header img {
  width: 150px;
  height: auto;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}

.hero {
  position: relative;
}

.hero img {
  width: 100%;
}

.hero article img {
  width: 300px;
  float: right;
}

article {
  position: absolute;
  top: 150px;
  width: 90%;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: rgba(253, 253, 253, 0.285);
  padding: .5rem;
}

p {
  font-size: 20px;
  text-align: center;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 4rem;
}

h2 {
  text-align: center;
  font-size: 2rem;
}

.figures {
  display: flex;
  justify-content:space-around ;
  padding-bottom: 3rem;
}

figure {
  border: thin #c0c0c0 solid;
  display: flex;
  flex-flow: column;
  padding: 5px;
  width: 250px;
  margin: auto;
}

section img {
  width: 250px;
  height: 160px;
}

figcaption {
  background-color: #222;
  color: #fff;
  font: italic smaller sans-serif;
  padding: 3px;
  text-align: center;
}

footer {
  background-color: var(--primary-color);
  display: grid;
  align-items: center;
  padding: .5rem;
}

.sociallinks {
  justify-content: end;
  grid-column: 2/3;
  margin: 1rem;
  display: flex;
}

.sociallinks a {
  margin-left: .5rem;
}

footer p {
  text-align: end;
  height: auto;
  position: relative;
  grid-column: 1/2;
  grid-row: 1/2;
}

h3 {
  text-align: center;
}

.title {
  position: relative;
  font-size: 3.5rem;
  margin: 2rem;
}

.card {
  background-color: var(--secondary-color);
  border-radius: 15px;
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

.card img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 100%;
  height: 250px;
}

.card iframe {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 99.3%;
  height: 250px;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  
  width: 100%;
  text-align: center;
}

.container h4 {
  font-size: 2rem;
  margin-top: auto;
}

.grid-display {
  padding: 50px;
  display: flex;
  justify-content: space-around; 
}

.contact-container {
  flex-wrap: wrap;
  justify-content: space-around;
  display: flex;
  align-items: center;
  height: 80vh;
}

.form-container {
  /* border: 1px solid blue; */
  width: 45%;
  padding: 10px;
}

.form-container h2 {
  margin-bottom: 20px;
  
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
}

.form-group input[type="checkbox"],
.form-group input[type="radio"] {
  display: inline-block;
  margin-right: 10px;
}

.form-group input,
.form-group textarea {
  width: 98%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group-radio {
  display: block;
  font-weight: bold;
  margin-top: 5px;
}

.form-group-checkbox {
  display: block;
  font-weight: bold;
}

.form {
  margin-bottom: 15px;
}

button[type="submit"] {
  float: right;
  background-color: var(--secondary-color);
  color: var(--accent1-color);
  padding: .5rem;
  text-decoration: none;
  margin-left: .2rem;
  border-radius: 4px;
  border: 1px solid var(--secondary-color); 
}

button[type="submit"]:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.image-container {
  width: 45%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}
